In [1]:
import pandas as pd
import numpy as np
import datetime
import yfinance as yf
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

In [255]:
df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-01.csv')
# df = pd.read_csv('test dataset - Sheet1.csv')
# df.columns =['Serial Number', 'Close', 'Volume', 'Price-Volume' , 'Unix' , 'Trade Log', 'delete' ]

In [268]:
dd =[]
for i in range(1, 13):
    if i < 10:
        
        d = 'BTC-trades/BTCUSDT-trades-2022-07-0' + str(i) + '.csv'
    else:
        d = 'BTC-trades/BTCUSDT-trades-2022-07-' + str(i) + '.csv'
    dd.append(d)

In [264]:
dd

['BTC-trades/BTCUSDT-trades-2022-07-01.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-02.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-03.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-04.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-05.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-06.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-07.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-08.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-9.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-10.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-11.csv',
 'BTC-trades/BTCUSDT-trades-2022-07-12.csv']

In [2]:
def sampling(df , serial):
    df.columns =[ 'Serial Number', 'Close', 'Volume', 'Price-Volume' , 'Unix' , 'Trade Log', 'delete' ]

    df['Quotient'] = df['Unix']//1000
    df_High=  df.groupby('Quotient')['Close'].max()
    df_Low =  df.groupby('Quotient')['Close'].min()
    df_Volume =  df.groupby('Quotient')['Volume'].sum()
    
    for i in range(len(df['Close'])):
        df.loc[i,'TimeStamp1'] = datetime.datetime.fromtimestamp((df.loc[i,'Unix'])/1000 ).strftime('%Y-%m-%d %H:%M:%S.%f').split('.')[0]
    
    df_TimeStamp = df.groupby('TimeStamp1')['TimeStamp1']
    timeframe = df_TimeStamp.unique()
    timeframe = pd.DataFrame(timeframe)
    
    data = pd.DataFrame(df_High)
    
    df.index = df['Quotient']
    df = df.drop(['Quotient'] , axis =1 )
    close_df =[]
    open_df =[]
    for i in range(len(data)):
        index = data.index[i]

        t = np.array(df.loc[index]['Close'])
#         print(t)
        try:

            open_df.append(t[0])
            close_df.append(t[-1])
        except:

            open_df.append(np.nan)
            close_df.append(np.nan)
        
    data['TimeStamp'] = timeframe.index
    data['High'] = df_High
    data['Low'] = df_Low
    data['Close'] = close_df
    data['Open'] = open_df
    data['Volume'] = np.array(df_Volume)
#     data = pd.DataFrame(timeframe)

    data =data.reset_index()
#     data =data.reset_index()
    l = 'final_BTC_output_2022-07-'+str(serial)+'.csv'
    print(l)
    data.to_csv(l)

In [ ]:
# %%timeit
for i in range(0,13):
#     print(dd[i])
#     df = pd.read_csv('BTC')
    df = pd.read_csv(dd[i])
    sampling(df, i+1)

In [3]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-01.csv')
sampling(df, 1)

final_BTC_output_2022-07-1.csv

In [4]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-02.csv')
sampling(df, 2)

final_BTC_output_2022-07-2.csv

In [5]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-03.csv')
sampling(df, 3)

final_BTC_output_2022-07-3.csv

In [6]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-04.csv')
sampling(df, 4)

final_BTC_output_2022-07-4.csv

In [7]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-05.csv')
sampling(df, 5)

final_BTC_output_2022-07-5.csv

In [8]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-06.csv')
sampling(df, 6)

final_BTC_output_2022-07-6.csv

In [9]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-07.csv')
sampling(df, 7)

final_BTC_output_2022-07-7.csv

In [10]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-08.csv')
sampling(df, 8)

final_BTC_output_2022-07-8.csv

In [11]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-09.csv')
sampling(df, 9)

final_BTC_output_2022-07-9.csv

In [12]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-10.csv')
sampling(df, 10)

final_BTC_output_2022-07-10.csv

In [13]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-11.csv')
sampling(df, 11)

final_BTC_output_2022-07-11.csv

In [33]:

df = pd.read_csv('BTC-trades/BTCUSDT-trades-2022-07-12.csv')
# sampling(df, 12)
df.head()

,1454893453,19963.61000000,0.00099000,19.76397390,1657584000000,False,True
0,1454893454,19963.61,0.00148,29.546143,1657584000001,False,True
1,1454893455,19961.43,0.00101,20.161044,1657584000004,True,True
2,1454893456,19961.43,0.00114,22.756030,1657584000005,True,True
3,1454893457,19963.61,0.00488,97.422417,1657584000005,False,True
4,1454893458,19963.62,0.00020,3.992724,1657584000005,False,True

In [ ]:
x = len(pd.read)

In [30]:
df_btc_1s = pd.concat(map(pd.read_csv, ['final_BTC_output_2022-07-1.csv' , 'final_BTC_output_2022-07-2.csv' , 'final_BTC_output_2022-07-3.csv' , 'final_BTC_output_2022-07-4.csv' , 'final_BTC_output_2022-07-5.csv' , 'final_BTC_output_2022-07-6.csv' , 'final_BTC_output_2022-07-7.csv' , 'final_BTC_output_2022-07-8.csv' , 'final_BTC_output_2022-07-9.csv' , 'final_BTC_output_2022-07-10.csv' , 'final_BTC_output_2022-07-11.csv' , 'final_BTC_output_2022-07-12.csv']))

In [35]:
df_btc_1s = df_btc_1s.reset_index()

In [37]:
df_final = df_btc_1s[['Quotient', 'TimeStamp' ,'Close','Open', 'High' , 'Low', 'Volume']]

In [40]:
df_final.tail()

,Quotient,TimeStamp,Close,Open,High,Low,Volume
987480,1657670395,2022-07-13 05:29:55,19332.42,19331.23,19332.94,19329.10,0.23427
987481,1657670396,2022-07-13 05:29:56,19333.52,19332.42,19333.52,19330.89,0.39074
987482,1657670397,2022-07-13 05:29:57,19333.51,19332.42,19333.52,19331.53,0.18587
987483,1657670398,2022-07-13 05:29:58,19332.35,19333.28,19333.28,19332.35,0.16618
987484,1657670399,2022-07-13 05:29:59,19328.75,19333.13,19333.99,19328.75,0.50966

In [41]:
df_final.to_csv('July_01-12_2022_BTCUSDT_data.csv')

In [186]:
df.columns =['Serial Number', 'Close', 'Volume', 'Price-Volume' , 'Unix' , 'Trade Log', 'delete' ]

In [187]:
df

,Serial Number,Close,Volume,Price-Volume,Unix,Trade Log,delete
0,1430939794,19942.21,0.00277,55.23992,1656633600003,True,True
1,1430939795,19942.22,0.00133,26.52315,1656633600005,False,True
2,1430939796,19942.21,0.00109,21.73701,1656633600007,True,True
3,1430939797,19942.22,0.00109,21.73702,1656633600008,False,True
4,1430939798,19940.97,0.00180,35.89375,1656633600009,True,True
...,...,...,...,...,...,...,...
244,1430940038,19949.72,0.20000,3989.94400,1656633602546,False,True
245,1430940039,19949.73,0.31016,6187.60800,1656633602546,False,True
246,1430940040,19949.74,0.09591,1913.38000,1656633602546,False,True
247,1430940041,19949.80,0.69401,13845.36000,1656633602546,False,True
248,1430940042,19950.00,4.40000,87780.00000,1656633602546,False,True

In [189]:
df['Quotient'] = df['Unix']//1000
df.head()

,Serial Number,Close,Volume,Price-Volume,Unix,Trade Log,delete,Quotient
0,1430939794,19942.21,0.00277,55.23992,1656633600003,True,True,1656633600
1,1430939795,19942.22,0.00133,26.52315,1656633600005,False,True,1656633600
2,1430939796,19942.21,0.00109,21.73701,1656633600007,True,True,1656633600
3,1430939797,19942.22,0.00109,21.73702,1656633600008,False,True,1656633600
4,1430939798,19940.97,0.00180,35.89375,1656633600009,True,True,1656633600

In [190]:
df_High=  df.groupby('Quotient')['Close'].max()
df_Low =  df.groupby('Quotient')['Close'].min()

In [191]:
df_Volume =  df.groupby('Quotient')['Volume'].sum()

In [192]:
df.head()

,Serial Number,Close,Volume,Price-Volume,Unix,Trade Log,delete,Quotient
0,1430939794,19942.21,0.00277,55.23992,1656633600003,True,True,1656633600
1,1430939795,19942.22,0.00133,26.52315,1656633600005,False,True,1656633600
2,1430939796,19942.21,0.00109,21.73701,1656633600007,True,True,1656633600
3,1430939797,19942.22,0.00109,21.73702,1656633600008,False,True,1656633600
4,1430939798,19940.97,0.00180,35.89375,1656633600009,True,True,1656633600

In [193]:
for i in range(len(df['Close'])):
    df.loc[i,'TimeStamp1'] = datetime.datetime.fromtimestamp((df.loc[i,'Unix'])/1000 ).strftime('%Y-%m-%d %H:%M:%S.%f').split('.')[0]

In [194]:
df_TimeStamp = df.groupby('TimeStamp1')['TimeStamp1']
timeframe = df_TimeStamp.unique()
timeframe = pd.DataFrame(timeframe)
timeframe.index

Index(['2022-07-01 05:30:00', '2022-07-01 05:30:01', '2022-07-01 05:30:02'], dtype='object', name='TimeStamp1')

In [195]:
data = pd.DataFrame(df_High)

In [196]:
data.head()

               Close
Quotient
1656633600  19956.80
1656633601  19950.65
1656633602  19950.52

In [197]:
data['Volume'] = np.array(df_Volume)
data['High'] = df_High
data['Low'] = df_Low

In [198]:
df.index = df['Quotient']

In [199]:
df = df.drop(['Quotient'] , axis =1 )

In [200]:
close_df =[]
open_df =[]
for i in range(len(data)):
    index = data.index[i]

    t = np.array(df.loc[index]['Close'])
    try:
#         print(t[-1])
#         print('-')
        open_df.append(t[0])
        close_df.append(t[-1])
    except:
#         print(np.nan)
        open_df.append(np.nan)
        close_df.append(np.nan)

In [201]:
data['Close'] = close_df
data['Open'] = open_df

In [202]:
data['TimeStamp'] = timeframe.index

In [203]:
data.head()

,Close,Volume,High,Low,Open,TimeStamp
Quotient,,,,,,
1656633600,19951.44,12.41843,19956.80,19939.96,19942.21,2022-07-01 05:30:00
1656633601,19950.53,4.33935,19950.65,19948.18,19950.65,2022-07-01 05:30:01
1656633602,19950.00,8.00469,19950.52,19945.06,19950.52,2022-07-01 05:30:02

In [204]:
data =data.reset_index()

In [205]:
data.head()

,Quotient,Close,Volume,High,Low,Open,TimeStamp
0,1656633600,19951.44,12.41843,19956.80,19939.96,19942.21,2022-07-01 05:30:00
1,1656633601,19950.53,4.33935,19950.65,19948.18,19950.65,2022-07-01 05:30:01
2,1656633602,19950.00,8.00469,19950.52,19945.06,19950.52,2022-07-01 05:30:02